<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container container-fluid">
      <a class="navbar-brand" href="/principal">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/principal">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lista_alunos">Lista</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container pt-4 pb-4 d-flex flex-column justify-content-center align-items-center">
      <h2>Cadastro</h2>
      <form class="row g-3" method="POST">
        <div class="col-md-8">
          <label for="inputAluno" class="form-label">Nome do Aluno</label>
          <input type="text" class="form-control" id="inputAluno" name="nome" placeholder="Digite o Nome do Aluno" required>

        </div>
        <div class="col-md-2">
          <label for="inputAno" class="form-label">Ano</label>
          <select id="inputAno" class="form-select" name="ano"> <!-- Adicione o atributo name aqui -->
            <option selected>Bercario-A</option>
            <option>Bercario-B</option>
            <option>Maternal-A</option>
            <option>Maternal-B</option>
            <option>Nivel-I-A</option>
            <option>Nivel-I-B</option>
            <option>Nivel-II A</option>
            <option>Nivel-II-B</option>
            <option>Nivel-III-A</option>
            <option>Nivel-III-B</option>
            <option>1-ano-A</option>
            <option>1-ano-B</option>
            <option>2-ano-A</option>
            <option>2-ano-B</option>
            <option>3-ano-A</option>
            <option>3-ano-B</option>
            <option>4-ano-A</option>
            <option>4-ano-B</option>
            <option>5-ano</option>
            <option>6-ano</option>
            <option>7-ano</option>
            <option>8-ano</option>
            <option>9-ano</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputTurno" class="form-label">Turno</label>
          <select id="inputTurno" class="form-select" name="turno"> <!-- Adicione o atributo name aqui -->
              <option selected>Manha</option>
              <option>Tarde</option>
          </select>
        </div>
        <div class="col-md-8">
          <label for="inputAddress2" class="form-label">Nome do Responsável</label>
          <input type="text" class="form-control" id="inputAddress2" name="responsavel" placeholder="Digite o Nome do Responsável" required>
        </div>
        <div class="col-md-4">
            <label for="inputContato" class="form-label">Contato</label>
            <input type="tel" class="form-control" id="inputContato" name="contato" placeholder="Digite o numero para contato" required>
        </div>
        <div class="col-md-4">
          <label for="inputCredito" class="form-label">Credito do Aluno</label>
          <input type="text" class="form-control dinheiro" id="inputCredito" name="credito" placeholder="R$ 0,00" required>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      $('#inputContato').mask('(00) 00000-0000');
    });
    $(document).ready(function() {
      $('#inputCredito').mask('R$ #.###,00', { reverse: true });
    });

  </script>

<script>
  $(document).ready(function () {
      // Inicialize a máscara para campos de dinheiro
      $('.dinheiro').mask('000.000.000,00', { reverse: true });
  });
</script>
</body>
</html>
